@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$gap: 10px;
$navbar-app-height: 10vh;
$navbar-board-height: 10vh;
$board-content: calc(100vh - #{$navbar-app-height} - #{$navbar-board-height} - #{$gap}* 2);
$column-border-radius: 6px;

//colors
$app-main-text-color: #172b4d;
$common-element-bg-color: rgba(255, 255, 255, 0.8);
$bg-color: transparent;
$while-color: #fff;
$column-bg-color: #ebecf0;
$alert-danger: #ee5253;
$input-border-color: #86b7fe;

//screens
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width:375px)";
