@import "./setting";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    background-image: url("./public/images/background.jpg");
    background-position: 50%;
    background-size: cover;
}
.trello-web-app {
    height: 100vh;
    background-color: $bg-color;
    color: $app-main-text-color;
    .icon {
        font-size: 14px;
        font-weight: 300;
        margin-right: 4px;
    }
}
