@import "~bootstrap/scss/bootstrap";
@import "./setting";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    background-image: url("./Resources/images/background.jpg");
    background-position: 50%;
    background-size: cover;
}
.trello-web-app {
    height: 100vh;
    background-color: $bg-color;
    color: $app-main-text-color;
    .icon {
        font-size: 14px;
        font-weight: 300;
        margin: 0 4px;
    }
}
.trello-container {
    margin: 0 15px;
    padding: 0;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}
.trallo-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    cursor: pointer;
    font-weight: inherit;
    &:focus {
        cursor: text;
        background-color: $while-color;
        border: 1px solid $input-border-color;
    }
    &:focus-visible {
        border: 1px solid $input-border-color !important;
    }
}
span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;

    i.icon {
        font-size: 18px;
        color: $alert-danger;
        &:hover {
            color: darken($alert-danger, 15);
        }
    }
}
