@import "./setting";

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}
.trello-web-app {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;
}
